.calculator {
    background-color: $lightgrey;

    &__container {
        max-width: 600px;
        margin: 0 auto;

        @media (min-width: $desktop) {
            max-width: 900px;
        }
    }

    &__h2 {
        font-family: $raleway;
        font-size: 2.2rem;
        font-weight: normal;
        color: black;
        text-align: center; 
        padding: 1.5rem 3rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: $desktop) {
            align-items: flex-start;
        }
        padding: 20px 0;
    }

    &__input {
        height: 40px;
        width: 300px;
        background-color: white;
        border: 1px solid $blue;
        border-radius: 6px;
        box-shadow: 0px 3px 6px #08A6E429;;
        margin-bottom: 25px;
        font-family: $open-sans;
        font-size: 0.9rem;
        color: black;
        padding: 0 1rem;
        @media (min-width: $mobile) {
            width: 420px;
        }
    }

    &__options {
        display: flex;
        align-items: center;
        margin: 10px 0;
        font-family: $open-sans;
        font-size: 0.75rem;
        color: $darkgrey;
    }

    &__checkbox {
        margin-right: 10px;
    }

    &__total-result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @media (min-width: $desktop) {
            align-items: flex-end;
        }
        padding: 20px 0;
        position: relative;
    }

    &__results {
        display: flex;
        flex-direction: column;
    }

    &__partial-results {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 31px;
        width: 300px;
        background-color: $green;
        border-radius: 6px;
        box-shadow: 0px 3px 6px #00000029;
        margin-bottom: 10px;
        @media (min-width: $mobile) {
            width: 420px;
        }
    }

    &__item {
        font-family: $open-sans;
        font-size: 0.9rem;
        font-weight: normal;
        padding: 0 1rem;
        color: white;
    }

    &__operation {
        font-family: $open-sans;
        font-size: 0.9rem;
        font-weight: normal;
        padding: 0 1rem;
        color: white;
    }

    &__price {
        font-family: $open-sans;
        font-size: 1.125rem;
        font-weight: bold;
        padding: 0 1rem;
        color: white;
    }

    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 38px;
        width: 180px;
        background-color: $blue;
        border-radius: 6px;
        box-shadow: 0px 3px 6px #00000029;
        color: white;
        margin: 10px 0;
        @media (min-width: $mobile) {
            position: absolute;
            top: 230px;           
        }
    }

    &__hidden {
        display: none;
    }

}

